// new scss
.mat-drawer-container {
  height: 100vh;
  overflow: auto;
}

mat-drawer {
  // border: 1px solid;
}

.heading_with_bg {
  background: linear-gradient(90deg, rgba(89, 154, 253, 1) 0%, rgba(27, 84, 177, 1) 100%);
  padding: 5px 30px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 8px;
}

.toggler-button {
  background: linear-gradient(-90deg, rgba(89, 154, 253, 1) 0%, rgba(27, 84, 177, 1) 100%);
  border-radius: 8px;
  color: #fff;
  min-width: 38px !important;
  line-height: 23px;
  height: 38px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin: auto;
}

.toggler-button.active {
  transform: rotate(180deg);
  transition-duration: 500ms;
}


.side-bar-style {
  border-radius: 0.2rem;
  padding: .5rem .5rem .5rem 1.8rem;
}

.side-bar-style:hover {
  background-color: #e8effa;
}

.side-bar .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  margin-top: 5px;
}

.side-bar-menu-hover .mat-expansion-panel:not(.mat-expanded):hover {
  background-color: #e9eff9 !important;
}

.side-bar {
  .mat-expansion-panel-header-title span {
    font-weight: bold;
  }
}

.side-bar .mat-expansion-panel {
  span:hover {
    color: #2a6dd9;
  }
}

.side-bar .mat-expansion-panel-header.mat-expanded {
  background-color: #e9eff9 !important;
  height: 50px;

  .mat-expansion-panel-header-title span {
    color: #2a6dd9;
  }
}

.side-bar .expension-child a li:hover {
  color: #2a6dd9;
  font-weight: bold;
}

.side-bar .expension-child {
  list-style-type: none;
  padding-left: 0px;
}

.mat-expansion-indicator::after {
  color: #2a6dd9;
}

.mat-expansion-indicator:active {
  margin-top: 8px;
}

::ng-deep span.mat-expansion-indicator.ng-tns-c114-2.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
  margin-top: 0px !important;
}




@media (min-width: 768px) and (max-width: 991px) {
  .toggler-button {
    transform: rotate(180deg);
    transition-duration: 500ms;
  }

  .toggler-button.active {
    transform: rotate(0deg) !important;
    transition-duration: 500ms;
  }
}

@media (max-width: 767px) {
  .mat-drawer-opened {
    border-radius: 0rem;
  }

  .sidebar {
    width: 300px;

    .mat-panel-title span,
    .mat-nav-list a {
      font-size: 14px !important;
    }

    .mat-card {
      padding: 10px !important;
    }

    .heading_with_bg {
      margin-right: 0px;
    }

    .mat-expansion-panel-header {
      padding: 0px 12px;
    }
  }
}


// small sidebar open onclick of toggler button
.sm-sidebar {
  width: 100px;

  ::ng-deep.mat-expansion-indicator::after {
    display: none;
  }

  ::ng-deep .mat-expansion-panel-content {
    display: none;
  }

  .display-prop {
    display: inline !important;
    margin-right: 0px;
    text-align: center;

    img {
      width: 18px;
    }

    span {
      display: none;
    }
  }

  .help-content,
  .heading_with_bg {
    display: none;
  }
}


.mat-mdc-card {
background-color: #fff;
height: 100vh
 }

 ::ng-deep .mat-drawer {
  // overflow: hidden !important;
}

::ng-deep.mat-drawer-inner-container {
  // overflow: hidden !important;
  // -webkit-overflow-scrolling: touch;
}

// .ifms-sidebar-sidenav {
//   .mat-card:not([class*=mat-elevation-z]) {
//     box-shadow: none;
//   }
// }
