<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Electrical Shop IMS</a>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav justify-content-center mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Suppliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Reports</a>
        </li>
      </ul>
      <form role="search">
        <div class="d-flex justify-content-end">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary ms-2">Login</button>
          <button class="btn btn-primary ms-2">Signup</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Electrical Shop IMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
      aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav justify-content-center mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Sales Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Suppliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Reports</a>
        </li>
      </ul>
      <div class="d-flex col-lg-4 justify-content-end">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary ms-2">Login</button>
        <button class="btn btn-primary ms-2">Signup</button>
      </div>
    </div>
  </div>
</nav> -->
<div class="container-fluid">
  <!-- <mat-drawer-container class="mt-2">
    <mat-drawer #drawer mode="side" opened>Drawer content
      <div class="example-sidenav-content">

      </div>
    </mat-drawer>
    <mat-drawer-content>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      Main content
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> -->
  <mat-sidenav-container>
    <mat-drawer-container class="example-container">
      <mat-drawer class="ms-5" #drawer class="example-sidenav bg-warning" mode="push" [opened]="isDrawerOpen" [style.width]="drawerWidth">
        <p>Auto-resizing sidenav</p>
      </mat-drawer>
      <mat-drawer-content>
        <button type="button" mat-button (click)="toggleDrawer()">
          <i class="bi bi-list"></i>
        </button>
        Main content
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-container>

</div>
