<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Electrical Shop IMS</a>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav justify-content-center mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Suppliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Reports</a>
        </li>
      </ul>
      <form role="search">
        <div class="d-flex justify-content-end">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary ms-2">Login</button>
          <button class="btn btn-primary ms-2">Signup</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Electrical Shop IMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
      aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav justify-content-center mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Sales Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Suppliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stock">Reports</a>
        </li>
      </ul>
      <div class="d-flex col-lg-4 justify-content-end">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary ms-2">Login</button>
        <button class="btn btn-primary ms-2">Signup</button>
      </div>
    </div>
  </div>
</nav> -->
<div class="container-fluid mt-1">
  <mat-drawer-container>
    <mat-drawer style="width: 230px;" #drawer [mode]="isLargeScreen() ? 'side' : 'push'" [opened]="isLargeScreen()">
      <div class="sidebar" id="side-bar">
        <mat-card class="side_card mt-2">
          <mat-card-content>
            <div class="toggle-btn-container d-flex justify-content-between align-items-center">
              <p class="w-100 mat-h3 font-weight-600 font-18 mb-0 text-white text-center heading_with_bg"
                color="primary">My Request</p>
              <button class="toggler-button text-white p-0 d-none d-md-block" mat-button (click)="toggle_sm(1);rotate()">
                <mat-icon>chevron_left</mat-icon>
              </button>
            </div>
            <!-- item list starts -->
            <div class="card-body px-0 min-height-2 mt-2">
              <mat-nav-list>
                <mat-accordion class="side-bar side-bar-menu-hover">
                  <mat-expansion-panel (click)="toggle_menu($event)" [@.disabled]="true" routerLinkActive
                    #rla1="routerLinkActive" [expanded]="rla1.isActive" class="side-bar-font custom-panel">

                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon>dashboard</mat-icon>
                        <span class="ms-3">Dashboard</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-nav-list>
                      <a mat-list-item (click)="hideSidenavAfterClick()" routerLinkActive="active-router-link"
                        [routerLink]="['dashboard']"><strong>Dashboard</strong></a>
                    </mat-nav-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-nav-list>
            </div>
            <!-- item list ends -->
          </mat-card-content>
        </mat-card>
      </div>
      <!-- <mat-nav-list>
        <a matListItemTitle mat-list-item routerLink="dashboard">Dashboard</a>
      </mat-nav-list> -->
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <button style="margin-left: -25px; margin-top: -10px;" type="button" mat-button (click)="toggleDrawer()">
          <i class="bi bi-list"></i>
        </button>
        <!-- Main content -->
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
